@inherits LayoutComponentBase
@inject UsuarioSesion Sesion

@code {
    private bool esAdmin;

    protected override async Task OnInitializedAsync()
    {
        esAdmin = Sesion.EstaLogueado() && await Sesion.UsuarioEsAdmin();
    }
}


<header class="navbar">
    <div class="container">
            else if (esAdmin)
            {
        <nav class="navbar-nav">
                <!-- #ADMIN  -->
                <NavLink href="/Admin" class="nav-link">Admin</NavLink>
                <NavLink href="/Adminusers" class="nav-link">Agregar Usuario</NavLink>
                <NavLink href="/Adminactividades" class="nav-link">Agregar Persona</NavLink>
                <NavLink href="/MisActividades" class="nav-link">Panel de Actividades</NavLink>
                <button class="btn btn-outline" @onclick="Sesion.CerrarSesion">Cerrar Sesion</button>
            }
                <NavLink href="/Admin" class="nav-link">Admin</NavLink>
                <NavLink href="/Adminusers" class="nav-link">Agregar Usuario</NavLink>
                <NavLink href="/Adminactividades" class="nav-link">Agregar Persona</NavLink>
                @if (esAdmin)
                {
                    <NavLink href="/MisActividades" class="nav-link">Panel de Actividades</NavLink>
                }
                <button class="btn btn-outline" @onclick="Sesion.CerrarSesion">Cerrar Sesion</button>
            }

        </nav>
        <div class="auth-buttons">
            <NavLink href="/Registro" class="btn btn-primary">Registrarse</NavLink>
            <NavLink href="/Login" class="btn btn-outline">Inciar Sesion</NavLink>
        </div>
    </div>
</header>

<main class="main-content">
    @Body
</main>
