@inherits LayoutComponentBase

<header class="navbar">
    <div class="container">
        <a class="logo" href="/"><img src="img\logo1.png" alt="CampusFit Logo" height="85"></a>
        <nav class="nav-links">
            <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">Inicio</NavLink>
            <NavLink href="/actividades" class="nav-link">Actividades</NavLink>
            <NavLink href="/contact" class="nav-link">Conocenos</NavLink>
        </nav>
        <div class="auth-buttons">
            <NavLink href="/Registro" class="btn btn-primary">Registrarse</NavLink>
            <NavLink href="/Login" class="btn btn-outline">Inciar Sesion</NavLink>
        </div>
    </div>
</header>

<main class="main-content">
    @Body
</main>
