@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject UsuarioSesion Sesion
@inject UsuarioEsAdminUseCase EsAdminUseCase
@using CentroEventos.UI.Components.Pages

<header class="navbar">
    <div class="container">
        <nav class="navbar-nav">
            <a class="logo" href="/"><img src="img\logo1.png" alt="CampusFit Logo" height="85"></a>
            <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">Inicio</NavLink>
            <NavLink href="/Actividades" class="nav-link">Actividades</NavLink>
            <NavLink href="/Contact" class="nav-link">Conocenos</NavLink>
            @if (Sesion.EstaLogueado())
            {   
                <NavLink href="/MisActividades" class="nav-link">Panel de Actividades</NavLink>
                <AdminNavBar />
                <ButtonCerrarSesion />
            }
            else
            {
                <div class="auth-buttons">
                    <NavLink href="/Registro" class="btn btn-primary">Registrarse</NavLink>
                    <NavLink href="/Login" class="btn btn-outline">Iniciar Sesión</NavLink>
                </div>
            }
        </nav>
    </div>
</header>

<main class="main-content">
    @Body
</main>