@inherits LayoutComponentBase

<header class="navbar">
    <div class="container">
        <a class="logo" href="/"><img src="img\logo1.png" alt="CampusFit Logo" height="85"></a>
        <nav class="nav-links">
            <NavLink href="\Components\Pages\Home.razor" class="nav-link" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink href="\Components\Pages\actividades.razor" class="nav-link">Actividades</NavLink>
            <NavLink href="\Components\Pages\contact.razor" class="nav-link">About us</NavLink>
        </nav>
        <div class="auth-buttons">
            <NavLink href="\Components\Pages\register.razor" class="btn btn-primary">Join Now</NavLink>
            <NavLink href="\Components\Pages\login.razor" class="btn btn-outline">Login</NavLink>
        </div>
    </div>
</header>

<main class="main-content">
    @Body
</main>
