@page "/Admin"

@inject UsuarioSesion Sesion
@inject NavigationManager Navigation
@inject UsuarioEsAdminUseCase EsAdminUseCase

<h3>Panel de Administracion</h3>

@if (!accesoAutorizado)
{
    <p class="text-danger">Acceso no autorizado.</p>
}
else
{
    <div class="admin-panel">
        <h4>Bienvenido, @Sesion.UsuarioLogueado.Nombre</h4>
        <p>Selecciona una opcion del menu para administrar el sistema.</p>
        <ul>
            <li><NavLink href="/GestionarUsuarios">Gestionar Usuarios</NavLink></li>
            <li><NavLink href="/GestionarPersonas">Gestionar Usuarios</NavLink></li>
            <li><NavLink href="/Admin/Gestionar/EventosDeportivos">Gestionar Eventos Deportivos</NavLink></li>
        </ul>
    </div>
}

@code {
    private bool accesoAutorizado = false;

    protected override async Task OnInitializedAsync()
    {
        accesoAutorizado = await EsAdminUseCase.Ejecutar();
        if (!accesoAutorizado) Navigation.NavigateTo("/");
    }
}


