@inject UsuarioSesion Sesion
@inject NavigationManager Navigation
@inject UsuarioEsAdminUseCase EsAdminUseCase

@if (Sesion.EstaLogueado() && esAdmin)
{
    <span class="nav-link-wrapper">
        <NavLink href="/Admin" class="nav-link">Admin</NavLink>
        <NavLink href="/GestionarUsuarios" class="nav-link">Gestionar Usuario</NavLink>
        <NavLink href="/GestionarPersonas" class="nav-link">Gestionar Persona</NavLink>
    </span>
}

@code {
    private bool esAdmin;

    protected override async Task OnInitializedAsync()
    {
        esAdmin = await EsAdminUseCase.Ejecutar();
    }
}