@page "/Admin"

@inject UsuarioSesion Sesion
@inject NavigationManager Navigation

<h3>Panel de Administracion</h3>

@code {
    
    private bool accesoAutorizado = false;
    private async Task<bool> EsAdmin() => await Sesion.UsuarioEsAdmin();
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("ESTO ES ADMIN PA");
        if(Sesion.EstaLogueado()){
            Console.WriteLine("ESTA LOGUEADO");
        }else{
            Console.WriteLine("PINCHO 1");
        }
        if(await Sesion.UsuarioEsAdmin()){
            Console.WriteLine("ES ADMIN ANASHE");
        }else{
            Console.WriteLine("PIMCHO 2");
        }
        accesoAutorizado = Sesion.EstaLogueado() && await EsAdmin();
        if(accesoAutorizado){
            Console.WriteLine("SOY ADMIN GODDDDD");
        }
        if (!accesoAutorizado)
        {
            Console.WriteLine("ME RE FUI DOMADO");
            Navigation.NavigateTo("/");
        }
    }

    
}

@if(!accesoAutorizado)
{
    <p class="text-danger">Acceso no autorizado.</p>
}
else
{
    <div class="admin-panel">
        <h4>Bienvenido, @Sesion.UsuarioLogueado.Nombre</h4>
        <p>Selecciona una opcion del menu para administrar el sistema.</p>
        <ul>
            <li><NavLink href="/AdminUsers">Gestionar Usuarios</NavLink></li>
            <li><NavLink href="/AdminActividades">Gestionar Actividades</NavLink></li>
        </ul>
    </div>
}