@page "/Contact"
<h3 class=" text-center mb-3">Sobre Nosotros:</h3>
<p class=" text-center">CampusFit es un sistema de gestión de actividades deportivas para universidades.</p>
<p class=" text-center">Contáctanos: <a href="CampusFit@unlp.edu.ar">CampusFit@unlp.edu.ar</a></p>


<div  class=" text-center mapa-container mt-4">
    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1636.0591619157565!2d-57.93871689277027!3d-34.903480025960434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e66a8fcdf951%3A0x9191a5ff1fbbe5d5!2sFacultad%20de%20Inform%C3%A1tica%20-%20UNLP!5e0!3m2!1ses!2sar!4v1749925591384!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
