@page "/"

<div class="text-center">
    <h1 class="display-4 mb-4">Bienvenido a CampusFit</h1>

    <div class="carousel-wrapper mx-auto mb-5">
        <div class="carousel-slide">
            <img src="img/crs1.jpg" alt="img1" />
            <img src="img/crs2.jpg" alt="img2" />
            <img src="img/crs3.jpg" alt="img3" />
            <img src="img/crs4.jpg" alt="img4" />
            <img src="img/crs5.jpg" alt="img5" />
        </div>
    </div>

    <p class="lead">Explorá nuestras instalaciones, anotate en actividades y gestioná tus reservas desde un solo lugar.</p>
    <div class="mt-4">
        <NavLink href="/Actividades" class="btn btn-outline-primary me-2">Ver Actividades</NavLink>
        <NavLink href="/Registro" class="btn btn-primary">Crear Cuenta</NavLink>
    </div>
</div>