@page "/MisActividades"

@using CentroEventos.Aplicacion.CasosDeUso.EventoDeportivoU
@using CentroEventos.Aplicacion.Entidades

@inject ListarEventoDeportivoUseCase ListarEventoDeportivoUseCase
@inject UsuarioSesion Sesion
@inject UsuarioEsAdminUseCase EsAdminUseCase
@inject NavigationManager Navigation

<h3>Lista de Actividades</h3>

@if (!_autorizado)
{
    <p class="text-danger">Acceso no autorizado.</p>
}
else
{
    <div class="mis-actividades">
        <h4>Bienvenido, @Sesion.UsuarioLogueado.Nombre</h4>
        <p>Aquí puedes ver y gestionar tus actividades.</p>

        <ul>
            @foreach (var actividad in _actividades)
            {
                <li>@actividad.Nombre - @actividad.FechaInicio.ToShortDateString()</li>
            }
        </ul>
    </div>
}

@code {
    private bool _autorizado = false;
    private List<EventoDeportivo> _actividades = new();

    protected override async Task OnInitializedAsync()
    {
        if (!Sesion.EstaLogueado() || !await EsAdminUseCase.Ejecutar())
        {
            Navigation.NavigateTo("/");
            return;
        }

        _autorizado = true;
        _actividades = await ListarEventoDeportivoUseCase.Ejecutar();
    }
}