.btn[b-s6yewcxhlq] {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.btn-outline[b-s6yewcxhlq] {
    border: 1px solid #3898ff;
    color: #007bff;
}